body{
    width: 2475px;
    font-family: poppins;
}

header {
    background-image: url(/apple-pie/images/apple-pie.jpg);
    height: 1460px;
    display: flex;
    flex-direction: column;
    font-size: 120px;
    color: white;
    text-align: center;
    justify-content: center;
    }

main {
    padding: 0 320px;
}

h2 {
    font-size: 60px;
font-weight: 100;
}

#intro {
    display: flex;
    flex-direction: column;
    align-items: center;
}



#intro p {
    margin: 180px 0 100px;
    font-size: 45px;
    font-weight: 100;
}

#intro img{
    width: 880px;
    padding-bottom: 40px;
}

#ingredients{
    padding-top: 40px;
}



#ingredients ul {
    font-size: 40px;
    margin: 20px 30px;
    font-weight: 100;
list-style-type: none;
padding-bottom: 40px;

}

#ingredients li::before{
    content: "- ";
}

#ingredients div{
    width: 1835px;
    display: flex;
    justify-content: center;

}

#ingredients img{
    width: 880px;
    padding-bottom: 40px;
   }

#ingredients{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

#directions {
    padding-top: 40px;
}

#directions ol{
    font-size: 40px;
    margin: 20px 30px;
    font-weight: 100;
}

